@font-face {
    font-family: 'zcoolce';
    font-display: swap;
    src: url('/css/zcoolce.ttf') format("truetype");
}
@font-face {
    font-family: 'Pacifico-Regular';
    font-display: swap;
    src: url('/css/Pacifico-Regular.ttf') format("truetype");
}