#nav *::after
{
    background-color: transparent!important;
}
#nav .site-page
{
    position: relative;
    padding-bottom: 6px;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.3);
    font-size: 0.78em;
    cursor: pointer;
}
.site-page:not(.child)
{
    padding: 5px;
    margin:3px;
    padding-left: 10px;
    padding-right: 10px;
    white-space: nowrap;
}
.site-page:hover:not(.child)
{
    background-color: #3b70fc;
    box-shadow:0 0 3px #3b70fc!important;
    border-radius: 5px;
}
.child:hover
{
    background-color: #3b70fc;
}