.magnet_link_context>*
{
    color: #B8B8B8;
    transition: all 0.3s ease;
}
.magnet_item:hover>.magnet_link>.magnet_link_context>*
{
    color: white;
}
[data-theme='light'].magnet_link
{
    background-color: #FFFFFF;
}