#web_bg
{
    background-image: url(https://image.wsq127.top/file/4df2b7eb29a6b813d6bd1.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
[data-theme='dark'] #web_bg:before
{
    background-color: #00000000;
    background-image: url(https://image.wsq127.top/file/579fc1421c61dd1fbe57d.png);
}