@import "obscurefreeman/mermaid.dark.css";
@import "obscurefreeman/codeblock.dark.css";

:root {
    --of-theme-color: #ff9100;
    --of-theme-color-dark: #4b4b46;
    --of-darkest-color: #2d2d2d;
    --of-darker-color: #1e1e1e;
    --of-dark-color: #292929;
    --of-dark-color2: #202020;
    --of-dark-color3:#404040;
    --of-dark-color4:#232323;
    --of-dark-color5:#222222;
    --of-dark-color6:#1b1b1b;
    --of-strong: white;
    --of-strong-code: #00ffa6;
    --of-font-size: 15px; /*字体大小*/
    --of-selection: #4a89dc;
    --of-selection-text: white;
    --of-text-color: #c6c5b8;

    --bg-color: var(--of-darker-color);
    /* 侧边栏颜色 */
    --side-bar-bg-color: var(--of-darkest-color);
    --text-color: var(--of-text-color);
    /* 这才是文字颜色 */
    --text-color-main: var(--of-text-color);
    /* 选中文字的颜色 */
    --select-text-bg-color: var(--of-theme-color-dark);
    /* 被激活的目录背景 */
    --item-hover-bg-color: var(--of-dark-color3);
    --control-text-color: #b7b7b7;
    --control-text-hover-color: #fff;
    --window-border: 1px solid #333;
    /* 被激活的文件背景 */
    --active-file-bg-color: var(--of-dark-color4);
    --active-file-border-color: var(--of-theme-color);
    --primary-color: var(--of-theme-color);
    --active-file-text-color: #fff;
    --item-hover-text-color: #fff;
    /* 编辑HTML文件 */
    --rawblock-edit-panel-bd: var(--of-dark-color);
    --search-select-bg-color: #3c3c3c;
    
    --code-bg-color:  var(--of-dark-color);
    /* --code-bg-color: #31302e; */
    --footer-bg-color: var(--side-bar-bg-color);
    --table-bg-darker-color:   var(--of-dark-color2);
    --table-bg-color:   var(--of-dark-color5);
    --table-bg-color2:   var(--of-darkest-color);
    --table-thead-color: var(--of-dark-color6);
    --md-code-color: var(--of-strong-code);
    --table-edit-color: var(--of-darkest-color);
    --task-list-border-color: #ffffff;
    --task-list-black-border-color: #000000;
    /* --task-list-bg-color: rgb(176, 21, 21); */
    --task-list-checked-color: #00ffa6;
    /* 设置导航栏选中的背景颜色 */
    --nav-group-item-color: var(--of-theme-color-dark);
    --select-background: var(--of-theme-color-dark);
    --other-main-color: var(--of-theme-color);
    --hover-color: var(--of-dark-color2);
    /* 引用的背景颜色 */
    --blockquote-color: var(--of-dark-color);
    /* 源代码被激活的颜色 */
    --codemirror-color: var(--of-dark-color);
    /* 右键菜单按下 */
    --menu-item-container-btn-hover: var(--of-dark-color2);
    /* 右键菜单按钮边框 */
    --menu-item-container-btn: var(--of-theme-color-dark);
    /* 右键菜单和字数统计 */
    --context-menu-color: var(--of-darkest-color);
    /* tooltip颜色（右键菜单按按钮时显示提示的颜色） */
    --tooltip-color: var(--of-darkest-color);
    /* tooltip文字颜色*/
    --tooltip-text-color: white;
    /* 滚动条颜色 */
    --scrollbar-color: var(--of-theme-color-dark);
    /* 源代码模式光标 */
    --code-cursor-color: var(--of-theme-color);
    /* 返回按钮 */
    --back-btn-color: var(--of-theme-color);
    /* 高亮文字颜色 */
    --highlight-text-color: var(--of-darker-color);
    /* 距离底部 */
    --write-padding-bottom: 400px;

    --ofcodetext: Inconsolata, Consolas, Menlo, Monaco, "Andale Mono WT", "Andale Mono", "Lucida Console", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace;
    --oftext: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

    --text-font: var(--oftext); /*正文字体*/
    --title-font: var(--oftext); /*标题字体*/
    --text-line-height: 1.7; /*正文行间距*/
    --code-line-height: 1.6; /*代码块行间距*/
    --p-spacing: 0.8rem; /*段间距*/

}

blockquote {
    padding: 20px;
    position: relative;
    border-radius: 8px;
    border: 1px solid #49b1f5;
    /* background-color: var(--background-color); */
    box-shadow: 0 2 px4px rgba(0, 0, 0, 0.1);
    font-size: 16px;
    line-height: 1.5;
    /* color: var(--text-color); */
    color: white
}

blockquote::before {
    content: "";
    position: absolute;
    top: -8px;
    left: -8px;
    width: 16px;
    height: 16px;
    border-radius: 5px;
    background-color: #49b1f5;
    transform: rotate(45deg);
}
