@font-face {
  font-family: "iconfont"; /* Project id 4365477 */
  src: url('//at.alicdn.com/t/c/font_4365477_4uffmxwvasy.woff2?t=1708582646204') format('woff2'),
       url('//at.alicdn.com/t/c/font_4365477_4uffmxwvasy.woff?t=1708582646204') format('woff'),
       url('//at.alicdn.com/t/c/font_4365477_4uffmxwvasy.ttf?t=1708582646204') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-skype:before {
  content: "\e882";
}

.icon-twiter:before {
  content: "\e6cf";
}

.icon-qq:before {
  content: "\e600";
}

.icon-outlook:before {
  content: "\e641";
}

.icon-luogu:before {
  content: "\e601";
}
