#nav *::after{
    background-color: transparent!important;
}
.site-page{
    padding: 5px;
    margin:3px;
    padding-left: 10px;
    padding-right: 10px;
    white-space: nowrap;
}
.site-page:hover{
    background-color: #80c8f8;
    box-shadow:0 0 3px #80c8f8!important;
    border-radius: 5px;
}