#nav *::after{
    background-color: transparent;
}
.site-page{
    display:none;
    padding: 5px;
    margin:3px;
    padding-left: 10px;
    padding-right: 10px;
    white-space: nowrap;
}
.site-page:hover{
    background-color: #80C8F8;
    box-shadow:0 0 3px #80C8F8;
    border-radius: 5px;
}