.site-page{
    position: relative;
    font-size: 30px; /*一定要把字体调大点，否则效果惨不忍睹！*/
    transition: all 0.3s ease;
}
.site-page:hover{
    background-color: #80C8F8!important;
    border-radius: 8px;
    transition: .3s;
    box-shadow: 0 0 5px #80C8F8;
}