blockquote {
    padding: 20px;
    position: relative;
    border-radius: 8px;
    border: 1px solid #49b1f5;
    /* background-color: var(--background-color); */
    box-shadow: 0 2 px4px rgba(0, 0, 0, 0.1);
    font-size: 16px;
    line-height: 1.5;
    /* color: var(--text-color); */
    color: white
}

blockquote::before {
    content: "";
    position: absolute;
    top: -8px;
    left: -8px;
    width: 16px;
    height: 16px;
    border-radius: 5px;
    background-color: #49b1f5;
    transform: rotate(45deg);
} 